.configs-list {
  .configs-grid {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;

    @media (min-width: 64rem) {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .card {
    margin-bottom: var(--spacing-base-half);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-base-half);
  }
  
  .flags-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-base);
    align-items: center;
    overflow-x: scroll;
  }
  
  .flag-desc {
    grid-column: span 2 / span 2;
  }
  
  .flag-enabled-box {
    display: flex;
    align-items: center;
    gap: var(--spacing-base-half);
  }
  
  .icon-enabled {
    color: var(--color-success);
  }
  
  .icon-disabled {
    color: var(--color-danger);
  }
  
  .flag-relation-form {
    place-self: end;
  }
  
  .config-card-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--spacing-base);
  }
  
  .edit-container {
    display: flex;
    justify-content: flex-end;
    padding-inline: var(--spacing-base);
    gap: var(--spacing-base)
  }
  
  .link-box {
    display: flex;
    gap: var(--spacing-base);
    align-items: center;
  }
}
