.configs-list {
  .configs-grid {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;

    @media (min-width: 64rem) {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .card {
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-base-half);
  }
  
  .config-card-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--spacing-base);
  }
  
  .edit-container {
    display: flex;
    justify-content: flex-end;
    padding-inline: var(--spacing-base);
    gap: var(--spacing-base)
  }
}
