.main-navbar {
  background-color: var(--color-navbar);
  @media (min-width: 32rem) {
    margin-inline-end: 1rem;
    border-inline-end: 1px solid var(--color-border);
  }

  .nav-list {
    list-style: none;
    padding-left: 1rem;
  }

  .nav-link {
    font-size: var(--font-size-large);
    color: var(--color-body);
    
    &:hover {
      color: var(--color-link-hover);
    }
  }
  
  padding: 1rem;
}
